psutil
pyqrcode
pypng
pyzbar
emoji
email_validator
youtube_dl
pyyaml
redis
coloredlogs
requests
pytz
cowpy
googletrans
translate
gtts
gtts-token
wordcloud
telethon
pillow
posthog
python-magic
pygments
distutils2-py3
speedtest-cli
gitpython
werkzeug
flask
flask_sqlalchemy
flask_login
flask_bcrypt
flask_wtf
wtforms
cheroot
PySocks
certifi
magic_google
