[Unit]
Description=PagerMaid-Modify telegram utility daemon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pagermaid
Group=pagermaid
WorkingDirectory=/pagermaid/workdir
ExecStart=/pagermaid/workdir/venv/bin/python -m pagermaid
Restart=always