[Unit]
Description=PagerMaid telegram utility daemon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pagermaid
Group=pagermaid
WorkingDirectory=/var/lib/pagermaid
ExecStart=/var/lib/pagermaid/venv/lib/python3.8/site-packages/pagermaid/assets/pagermaid
Restart=always